<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="manifest" href="./app.webmanifest">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="icon" href="./favicon.png">

  </head>
  <body>
    <a href="#content" class="skip-link">Skip To Content</a>
    <header class="header">
      <div class="logo">
        <a href="#" class="logo">
          <i class="fas fa-shopping-basket">
          </i> Halal<span>Restaurant</span>
        </a>
      </div>
      <div class="menu">
        <button class="fas fa-bars" id="menu-btn"></button>
      </div>
      <nav class="navbar">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item">
            <a href="https://github.com/titipbarkah">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <main id="content" tabindex="-1"></main>
    <footer>Copyright &copy; 2024 - Halal Restaurant</footer>
  </body>
</html>
