:root {
  --orange: #ff7800;
  --black: #0d0d0d;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #eee;
}

main {
  margin-top: 106px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 9999;
}

.skip-link:focus {
  top: 0;
}

section {
  padding: 2rem 9%;
}

button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1.7rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--black);
  color: #fff;
  cursor: pointer;
  background: #000;
}

button:hover {
  background: var(--orange);
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
}

.header .logo {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  font-size: 3rem;
  font-weight: bolder;
  color: var(--black);
  padding: -1 44px;
}

.header .logo svg {
  width: 3rem;
  height: 3rem;
  padding-top: 3px;
  color: var(--orange);
}

.header .logo span {
  color: #ff7800;
}
.header .logo i {
  color: var(--orange);
}

.header .navbar a {
  font-size: 20px;
  padding: 44px;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--orange);
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  line-height: 44px;
  text-transform: uppercase;
}

#menu-btn {
  display: none;
  
}

#menu-btn:hover {
  color: var(--orange);
}

.hero {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0;
  height: 255px;
}

.hero picture {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero img,
.hero source {
  width: 100%;
}
.hero .content {
  text-align: center;
  width: 100%;
  margin-top: 8rem;
}

.hero .content h3 {
  color: var(--black);
  font-size: 4.5rem;
  text-shadow: 1px 4px 3px #faf8f8;
}

.hero .content h3 span {
  color: var(--orange);
}

.hero .content p {
  color: rgb(251, 250, 249);
  font-size: 2rem;
  font-weight: 500;
}

.hero .content button {
  font-size: 2.5rem;
}

.heading {
  text-align: center;
  padding: 2rem 0;
  font-size: 3.5rem;
  color: #000;
}

.heading span {
  color: orange;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 3rem 3rem;
  background: #fff;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.box__city {
  display: inline-block;
  position: absolute;
  background: #ff7800;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  margin-left: -0.02rem;
  margin-top: 2rem;
  border-radius: 0 7px 7px 0;
  box-shadow: var(--box-shadow);
}

.box__city_detail {
  display: inline-block;
  position: absolute;
  background: #ff7800;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  margin-left: -0.02rem;
  border-radius: 0 7px 7px 0;
  box-shadow: var(--box-shadow);
  top: 10px;
  z-index: 1;
}

.box img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.box img:hover {
  opacity: 0.8;
  transform: scale(1.01);
  cursor: pointer;
}

.box__rating {
  color: var(--orange);
  font-size: 2rem;
  font-weight: 700;
}

.box__title {
  font-size: 32px;
}

.image__container {
  display: block;
  position: relative;
  width: 100%;
}

.details__container {
  width: 100%;
  display: flex;
  padding: 16px 0;
}

.details__category {
  width: 45%;
  justify-content:space-between;
}

.details__rating {
  width: 100%;
}

.details__category .category {
  display: inline-block;
  background-color: #FF6F00; 
  color: #FFF; 
  padding: 4px 20px;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.box_description {
  font-size: 1.6rem;
}

/* MENU RESTORAN */
#resto-detail-form-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; 
  margin: 0 auto;
  padding: 5px;
  background-color: #0c0c0c;
  border-radius: 1rem;
}

#resto-detail-form-menu span {
  font-size: 2rem;
  color:#eee;
  text-transform: uppercase;
}

.restaurant-detail__menu-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 16px 0;
}

.foods, .drinks {
  flex: 0 1 45%;
  margin: 0 auto;
  text-align: center;
}

.box h3 {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 0 13rem ;
  font-size: 2rem;
}

.box p {
  font-size: 1.5rem;
}

.restaurant-detail__foods li {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
}

.restaurant-detail__drinks li {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
}

/* Review Section */
#resto-detail-form-review span {
  font-size: 1.5rem; 
  display: inline-block;
  background-color: #030404; 
  color: #fafaf7; 
  padding: 1rem 2rem;
  margin: 2px;
  border-radius: 3rem;
  text-transform: uppercase; 
  text-align: center;
}
.detail-review {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
}

.detail-review-item {
  border-top: 1px solid #FFCDD2; 
}

.detail-review-item .name-review{
  padding: 12px 0;
  font-size: 2rem;
  font-weight: 600;
}

.header-review {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1em;
}

.header-review p {
  font-weight: 300;
}

.body-review {
  font-size: 1.5rem;
  color: #FF5722; 
  margin-left: 20px;
}

/* Like/Unlike  */
#likeButtonContainer {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.like {
  display: fixed;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  background-color: #ff6347;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3.5em;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: -4px;
  width : 50px;
  height: 50px;
  z-index: 999;
}

footer {
  font-family: Arial;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
  background-color: #fff;
  font-size: 17px;
}

/* Form Reviewer */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 1.5rem;
}

.label-title {
  font-size: 2rem;
}

/* Style the submit button */
.btn-success {
  background-color: #FF6F00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}