@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 3rem 5%;

    .logo {
      font-size: 3rem;
    }
  }

  section {
    padding: 2rem 5%;
  }

  .hero {
    .content button {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 2rem;
  }

  .header {
    
    .logo {
      font-size: 3rem;
    }
  }

  .header {

    .navbar {
      position: absolute;
      top: 110%;
      right: -110%;
      width: 30rem;
      box-shadow: var(--box-shadow);
      border-radius: 0.5rem;
      background: #fff;
    }

    .active {
      right: 2rem;
      transition: 0.4s linear;
    }
  }

  #menu-btn {
    display: inline-block;
    cursor: pointer;
    width: 44px;
    height: 44px;
    color: orange;
    padding-left: 6px;
    padding-top: 6px;
  }

  svg {
    height: 30px;
    width: 30px;
  }

  .hero {

    .content {
      padding: 5rem;

      h3 {
        font-size: 4rem;
        line-height: 5.2rem;
      }
    }
  }

  .header {
    .navbar {

      a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        padding: 44px;
        display: grid;
      }
    }
  }

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .header {
    .logo {
      font-size: 3rem;
      line-height: 2;

      i {
        display: none;
      }
    }
  }

  .hero {
    .content {
      padding: 3rem;
      h3 {
        font-size: 3rem;
      }

      p {
        font-size: 1.4rem;
      }

      button {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .hero {
    .content {
      h3 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        padding:2px;
      }

      p {
        margin-top: 1rem;
        font-size: 1.6rem;
        line-height: 1.5rem;
      }

      button {
        font-size: 3rem;
      }
    }
  }
}