@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 3rem 5%;
  }

  .header .logo {
    font-size: 3rem;
  }

  section {
    padding: 2rem 5%;
  }

  .hero .content button {
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 2rem;
  }

  .header .logo {
    font-size: 3rem;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: #fff;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  #menu-btn {
    display: inline-block;
    cursor: pointer;
    width: 44px;
    height: 44px;
    color: orange;
    padding-left: 6px;
    padding-top: 6px;
  }

  svg {
    height: 30px;
    width: 30px;
  }

  .hero .content h3 {
    font-size: 4rem;
    line-height: 5.2rem;
    padding: 4rem;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    padding: 44px;
    display: grid;
  }

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  .header .logo {
    font-size: 3rem;
    line-height: 2;
  }

  .header .logo i {
    display: none;
  }

  .hero .content h3 {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .hero .content p {
    font-size: 1.4rem;
  }

  .hero .content button {
    font-size: 3rem;
  }

  .hero {
    width: 100%;
    background: url(../public/images/resize/hero-image_2-small.jpg) no-repeat;
  }
}

@media screen and (max-width: 350px) {
  
  .header .logo {
    font-size: 2.6rem;
  }

  .header .logo i {
    display: none;
  }

  .hero .content h3 {
    font-size: 3rem;
    margin-top: 7rem;

  }

  .hero .content p {
    font-size: 1.3rem;
  }

  .hero .content button {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    background-image: url(../public/images/resize/hero-image_3-small.jpg);
    padding: 10px;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    margin-top: 106px;
    height: 225px;
    background-image: url(../public/images/resize/hero-image_2-medium.jpg);
  }

  .hero .content,
  .hero.content h3 {
    margin-top: 0;
  }
}

@media screen and (min-width: 800px) {
  .hero {
    background-image: url(../public/images/resize/hero-image_2-large.jpg);
  }
}